<div class="container">
	<form ng-submit="login()">
		<div class="row">
			<div class="input-field col s6">
				<input id="login" type="text" class="validate" ng-model="credentials.username">
				<label for="login">Login</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="password" type="password" class="validate" ng-model="credentials.password">
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<button class="btn waves-effect waves-light" type="submit" name="action">Login
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>